@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.countdown-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 242, 134, .5)
}

.countdown-container label {
    font-weight: bold;
}

#picture-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5vh;
}

label {
    font-family: "DM Sans";
}

#countdown-date-time {
    border-radius: 1vh;
    font-family: "DM Sans";
    width: 10vw;
    border-style: none;
}

#sleebee {
    max-width: 19vw;
    height: auto;
}

#description-box {
    width: 43vw;
    margin-bottom: 5vh;
}

#description {
    font-size: 15px;
    font-family: "DM Sans";
    text-align: center;
}