@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.login {
  display: flex;
  flex-direction: row;
}

.left-half {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 13vmax; */
  /* margin-right: 65vmax; */
  /* margin-top: 15vmax; */
}

.right-half {
  width: 50vw;
  height: 100vh;
  display: flex;
}

.rectangle {
  width: 50vw;
  height: 100vh;
  background-color: rgba(255, 242, 134, .3);
  opacity: .3;
}

.login-stuff {
  display: flex;
  flex-direction: column;
}

.text-large {
    /* wake the f*ck up */
    width: 324px;
    height: 52px;
    margin-bottom: 10px;
    /* left: 255px;
    top: 420px; */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
  }

  .text-subtitle {
    /* never sleep through an alarm ever again. */

    /* position: absolute; */
    width: 371px;
    height: 26px;
    margin-bottom: 30px;
    /* left: 255px;
    top: 488px; */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
  }

  .form-title {
    /* username */

    /* position: absolute; */
    width: 97px;
    height: 26px;
    /* left: 255px;
    top: 550px; */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
  }

  .form-extra {
    /* don’t have an account? sign up. */

    /* position: absolute; */
    /* width: 292px; */
    margin-top: 20px;
    height: 26px;
    /* left: 330px;
    top: 852px; */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height */

    align-items: center;
    text-align: center;

    color: #000000;
  }